.popular-today-container {
    max-width: 100%;
    width: 850px;
    height: 300px;
    margin-top: 10px;
    margin-right:  0px;
    background: rgba(52, 49, 49, 0.6);
    padding: 0px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.popular-header {
    color: white;
    font-size: 18px;
    margin-top: 4px;
    height: 30px;
    margin-bottom: 4px;
    border-bottom: solid grey 1pt;
    align-items: flex-end;
}

.rating {
    text-align: left;
}

.star {
    color: #FFD700;
}

.rating-text {
    color: white;
    margin-left: 2px;
    font-size: 14px;
}

/* Flexbox for the list to allow shrinking */
.popular-list {
    display: flex;
    gap: 10px;
    margin-left: 5px;
    align-items: center; /* Center items vertically */
    width: 100%;
    text-align: center;
}

.popular-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 160px;
    height: 200px;
    flex-shrink: 1;
}

.popular-cover {
    width: 150px;
    height: 180px;
    max-height: 80%;
    max-width: 100%;
    border-radius: 7px; /* Rounded edges */
    object-fit: cover;
    flex-shrink: 1;
}

.popular-title {
    color: white;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 0px;
}

.popular-title a{
    color: white;
    text-decoration: none;
}

.popular-title a:hover{
    color:rgb(127, 49, 201);
}

.chapter-link2 {
    margin-bottom: 1px;
    text-align: left;
}

.chapter-link2 a {
    color: rgb(137, 145, 145); /* Set desired color */
    text-decoration: none;
    font-size: 14px; /* Remove the underline */
}

.chapter-link2 a:hover {
    color: #6b2d91; /* Optional: Change color when hovered */
}

/* Media query for screens less than 755px */
@media (max-width: 855px) {
    /* Layout change to 2x2 grid */
    .popular-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 50px;
    }

    /* Remove last comic when the screen width is less than 755px */
    .popular-list .popular-item:last-child {
        display: none;
    }

    .popular-today-container {
        height: 550px;
        width: 700px; /* Adjust height for smaller screens */
    }
}
